</body>

    <div class="offcanvas offcanvas-start custom-text-light mycanvas show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">

    <div class="offcanvas-body my-canvas-body">
        <a href="/timesheet" tabindex="-1" role="button" class="no-outline">
            <img src="/pictures/timer.png" class="btn btn-secondary mb-0 timer-icon" width="33" height="35" alt="Task">
        </a>

        <a href="/project" tabindex="-1" role="button">
            <img src="/pictures/task.png" class="btn btn-secondary mb-0 task-icon" width="33" height="38" alt="Task">
        </a>
    </div>

    </div>

</html>