<nav class="navbar border-bottom" data-bs-theme="dark">
    <div class="container-fluid justify-content-start mynavbar">
        <button class="btn toggle-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
          <i class="fa-solid fa-bars"></i>
        </button>

        <a class="navbar-brand" href="/timesheet">
            <img src="/Pictures/cat.png" alt="Logo" width="26" height="28" class="d-inline-block align-text-top">
            <span class="ms-2" style="color: #F1F1F1;">My website</span>
        </a>
    </div>
  </nav>