<%- include('header') -%>

<div class="container text-center content">
    <h2>Add project to selected week</h2>

    <table class="table align-middle">
        <thead>
            <tr>
                <th class="col-lg-3"></th>
                <th class="col-lg-3 mybottomborder myrightborder">Value</th>
                <th class="col-lg-3 mybottomborder">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="col-lg-3"></th>
                <td class="col-lg-3 text-start mybottomborder myrightborder">Project name</td>
                <td class="col-lg-3 mybottomborder">
                    <input type="text" class="form-select" placeholder="" id="project-name">
                </td>
            </tr>
            <tr>
                <td class="col-lg-3"></td>
                <td class="col-lg-6 text-start mybottomborder" colspan="4">Selected week (start-end date)</td>
                <td class="col-lg-3"></td>
            </tr>

            <tr>
                <th class="col-lg-3"></th>
                <td class="col-lg-3 text-start mybottomborder myrightborder">
                    <input type="date" class="form-control" placeholder="" id="date-start" disabled>
                </td>
                <td class="col-lg-3 mybottomborder">
                    <input type="date" class="form-control" placeholder="" id="date-end" disabled>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="d-inline-flex gap-1">
        <a href="/" type="submit" class="btn" style="background-color: #53ab50; color: #f1f1f1; margin-top: 8px; margin-left: 12px;">Save</a>
        <a href="/" type="cancel" class="btn" style="background-color: #68686a; color: #f1f1f1; margin-top: 8px; margin-left: 12px;">Cancel</a>
    </div>
</div>

<%- include('time-style') -%>
<%- include('footer') -%>